<table>
  <tbody>
  <tr>
    <th>Shortened</th>
    <th>Original</th>
    <th>Creation Time</th>
    <th>Delete</th>
  </tr>
  <% @shortened_urls.each do |s| %>
  <tr>
    <% short_url = shortened_url_url(s.short_slug) %>
    <td><a href="<%=short_url%>"><%=short_url%></a></td>
    <td><a href="<%=s.original_url%>"><%=s.original_url%></a></td>
    <td><%=s.created_at%></td>
    <td><%=button_to("Delete", shortened_url_path(s.id), method: :delete) %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<%=button_to("Shorten more URLs", new_shortened_url_path, method: :get)%>
